---
import ProjectContent from './ProjectContent';

type Image = {
	smallUrl: string;
	largeUrl: string;
	alt?: string;
}

const { project_name, company, description, images, sections } = Astro.props;

---

<div>
    <ProjectContent 
		project_name={project_name} 
		company={company} 
		description={description} 
		images={images}
		sections={sections}
		client:load
		/>
</div>